api.{$TLD} {
  proxy / http://api:{$API_PORT}

  log stdout
  errors stderr

  request_id

  gzip

  header / {
    Access-Control-Allow-Origin * # should be https://{$TLD} but is not being substituted
    Access-Control-Allow-Methods "GET, POST, OPTIONS"
    X-Request-Id {request_id}
  }
}
